@charset "UTF-8";
:root {
  --main-font: "Roboto", "Raleway", "Sans-serif";
  --main-color: #212121;
  --second-color: #757575;
  --selectoin-color: #2196f3;
  --button-color-hover-focus: #188ce8;
  --footer-heder-color: #2f303a;
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: #212121;
  font-size: 14px;
  font-family: "Roboto";
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*#region button_hero*/
.hero-btn {
  font-family: inherit;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--selectoin-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  min-width: 200px;
  padding: 10px 32px;
}

.hero-btn:hover, .hero-btn:focus {
  background-color: var(--button-color-hover-focus);
}

/*#endregion button_hero*/
/*#region button_form*/
.modal-button {
  font-family: inherit;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--selectoin-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  min-width: 200px;
  padding: 10px 32px;
  -webkit-transition: background-color var(--duration) var(--timing-function);
  transition: background-color var(--duration) var(--timing-function);
}

.modal-button:hover, .modal-button:focus {
  background-color: var(--button-color-hover-focus);
}

/*#endregion button_form*/
/*#region button_footer*/
.footer-group__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--selectoin-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  min-width: 200px;
  padding: 10px 32px;
}

.footer-group__btn:hover, .footer-group__btn:focus {
  background-color: var(--button-color-hover-focus);
}

.footer-group__btn::after {
  content: "";
  display: inline-block;
  background-image: url(../images/icons/icon-send.svg);
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/*#endregion button_footer*/
/*#region button_filter*/
.filter-list__button {
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: color var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function), -webkit-box-shadow var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function), -webkit-box-shadow var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function), box-shadow var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function), box-shadow var(--duration) var(--timing-function), -webkit-box-shadow var(--duration) var(--timing-function);
}

.filter-list__button:hover, .filter-list__button:focus {
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/*#endregion button_filter*/
/* MODAL FORM  */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity var(--duration) var(--timing-function), visibility var(--duration) var(--timing-function);
  transition: opacity var(--duration) var(--timing-function), visibility var(--duration) var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal-wrapper {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  padding: 40px;
  width: 528px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform var(--duration) var(--timing-function);
  transition: -webkit-transform var(--duration) var(--timing-function);
  transition: transform var(--duration) var(--timing-function);
  transition: transform var(--duration) var(--timing-function), -webkit-transform var(--duration) var(--timing-function);
}

.modal-button__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-button__close:hover .modal-button__icon,
.modal-button__close:focus .modal-button__icon {
  fill: #2196f3;
}

.modal-button__close__icon {
  -webkit-transition: var(--duration) var(--timing-function);
  transition: var(--duration) var(--timing-function);
}

/* Форма-Герой */
.modal-form {
  width: 448px;
}

.modal-form__title {
  display: inline-block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form__lable, .modal-form__coments, .modal-form__policy {
  display: block;
  margin-bottom: 10px;
}

.modal-form__lable {
  position: relative;
}

.modal-form__span {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__input {
  width: 100%;
  padding: 12px 0px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
  -webkit-transition: border-color var(--duration) var(--timing-function);
  transition: border-color var(--duration) var(--timing-function);
}

.modal-form__input:hover, .modal-form__input:focus {
  border-color: #188ce8;
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--selectoin-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transition: fill var(--duration) var(--timing-function);
  transition: fill var(--duration) var(--timing-function);
}

/* Коментарий */
.modal-form__coments {
  margin-bottom: 20px;
}

.modal-form__textarea {
  outline: transparent;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border-color var(--duration) var(--timing-function);
  transition: border-color var(--duration) var(--timing-function);
}

.modal-form__textarea::-webkit-input-placeholder {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea:-ms-input-placeholder {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea::-ms-input-placeholder {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea::placeholder {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea:hover, .modal-form__textarea:focus {
  border-color: #188ce8;
}

/* Checkbox style */
.modal-form__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 13px;
  margin-bottom: 30px;
  width: 423px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-form__policy-desc {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: #757575;
}

.modal-form__check-box {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal-form__check-box:focus + .modal-form__custom-checkbox {
  border-color: #2196f3;
}

.modal-form__check-box:checked + .modal-form__custom-checkbox {
  background-color: #188ce8;
  border-color: #188ce8;
  background-image: url(../images/icons/icon-check.svg);
  background-size: contain;
  background-position: center;
  background-origin: border-box;
}

.modal-form__custom-checkbox {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
  margin-right: 7px;
  cursor: pointer;
  -webkit-transition: border-color var(--duration) var(--timing-function), background-image var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function);
  transition: border-color var(--duration) var(--timing-function), background-image var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function);
}

.modal-form__custom-checkbox:hover {
  border-color: #2196f3;
}

.modal-form__policy-link {
  color: #2196f3;
}

/*#region TEAM SECTION_social-icons*/
.team-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-icon__item {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-icon__item:not(:last-child) {
  margin-right: 10px;
}

.team-icon__item:hover .team-icon__link {
  background-color: #2196f3;
  fill: #ffffff;
}

.team-icon__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #afb1b8;
  -webkit-transition: fill var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function);
  transition: fill var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function);
}

.team-icon__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

/*#endregion TEAM SECTION_social-icons*/
/*#region FOOTER_social-icons*/
.footer-messenger {
  margin-right: 93px;
}

.footer-messenger .footer-messenger__join {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social .footer-social__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.footer-social .footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color var(--duration) var(--timing-function);
  transition: background-color var(--duration) var(--timing-function);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--selectoin-color);
}

/*#endregion FOOTER_social-icons*/
/*#region HEADER SECTION*/
.header-section {
  border-bottom: 1px solid #ececec;
}

/* логотип */
.header-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  color: var(--selectoin-color);
  margin-right: 94px;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__web {
  color: #212121;
}

/* навигация */
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list .nav__item {
  margin-right: 50px;
}

.nav__list .nav__item:last-child {
  margin-right: 0px;
}

.nav__link {
  color: var(--main-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: var(--main-font);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  position: relative;
  -webkit-transition: color var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function);
}

.nav__link:hover, .nav__link:focus {
  color: var(--selectoin-color);
}

.nav__link.current::after {
  position: absolute;
  bottom: -1px;
  right: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.studia,
.portfolio {
  color: #2196f3;
}

/* почта,телефон */
.auth__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.auth__list .auth__item {
  margin-right: 50px;
}

.auth__list .auth__item:last-child {
  margin-right: 0px;
}

.auth__tel,
.auth__mail {
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function);
}

.auth__tel:hover, .auth__tel:focus, .auth__tel:focus, .auth__tel:hover,
.auth__mail:hover,
.auth__mail:focus,
.auth__mail:focus,
.auth__mail:hover {
  color: var(--selectoin-color);
}

.auth__icon,
.auth__icon {
  margin-right: 10px;
  fill: currentColor;
}

/*#endregion HEADER*/
/*#region HERO SECTION*/
.hero-section {
  background: var(--footer-heder-color);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Img.jpg);
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img.jpg);
  text-align: center;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

/*#endregion HERO SECTION*/
/*#region SPECIFICS SECTION*/
.specifics-section {
  padding-bottom: 0;
}

.specifics-section .specifics-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.specifics-list__item {
  margin-right: 30px;
  width: 270px;
}

.specifics-list__item:last-child {
  margin-right: 0;
}

/* раздел с особеностями */
.specifics-list__item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
}

.specifics-list--icon-antena::before {
  background-image: url(../images/icons/antenna.svg);
}

.specifics-list--icon-clock::before {
  background-image: url(../images/icons/clock.svg);
}

.specifics-list--icon-diagrama::before {
  background-image: url(../images/icons/diagram.svg);
}

.specifics-list--icon-astronaut::before {
  background-image: url(../images/icons/astronaut.svg);
}

.specifics-list__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.specifics-list__text {
  color: #757575;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*#endregion SPECIFICS SECTION*/
/*#region DEVELOPMENT SECTION*/
.devefelopment__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.development__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.development__list .development__item {
  position: relative;
}

.development__list .development__item:not(:last-child) {
  margin-right: 30px;
}

.development__list .development__item .development__product {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.development__list .development__item .development__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 82px;
  color: #ffffff;
}

/*#endregion DEVELOPMENT SECTION*/
/*#region TEAM SECTION*/
.team-section {
  background-color: #f5f4fa;
}

.team__title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__item {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team-persone {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-persone__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-persone__position {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

/*#endregion TEAM*/
/*#region CLIENT CUSTOMERS*/
.client__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client__list .client__logo:not(:last-child) {
  margin-right: 30px;
}

.client__link {
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border var(--duration) var(--timing-function), fill var(--duration) var(--timing-function);
  transition: border var(--duration) var(--timing-function), fill var(--duration) var(--timing-function);
}

.client__link:hover, .client__link:focus {
  border: 1px solid #2196f3;
  fill: #188ce8;
}

/*#endregion CLIENT CUSTOMERS*/
/*#region FOOTER SECTION*/
.footer-site {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-site .footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-left {
  margin-right: 70px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
}

.footer__logo .footer__web {
  color: #ffffff;
}

.address-footer {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-footer .address-footer__text {
  margin-bottom: 9px;
}

.address-footer .address-footer__link:not(:last-child) {
  margin-bottom: 9px;
}

.address-footer__item {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: color var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function);
}

.address-footer__item:hover, .address-footer__item:focus {
  color: #2196f3;
}

/* футер рассылка */
.footer-group__text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-group__mail {
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 15px 0px 15px 16px;
  color: #ffffff;
}

.footer-group__mail::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-group__mail:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-group__mail::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-group__mail::placeholder {
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/*#endregion FOOTER SECTION*/
/*#region FILTR-portfolio.html SECTION*/
.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter-list__item {
  margin-right: 8px;
}

.filter-list__item:last-child {
  margin-right: 0;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects__item {
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

.projects__item:nth-child(3n) {
  margin-right: 0;
}

.projects__item:nth-child(n + 7) {
  margin-bottom: 0;
}

.projects__link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow var(--duration) var(--timing-function);
  transition: -webkit-box-shadow var(--duration) var(--timing-function);
  transition: box-shadow var(--duration) var(--timing-function);
  transition: box-shadow var(--duration) var(--timing-function), -webkit-box-shadow var(--duration) var(--timing-function);
}

.projects__link:hover, .projects__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__link:hover .image-conteiner__text,
.projects__link:focus .image-conteiner__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* выезд синего фона */
.image-conteiner {
  position: relative;
  overflow: hidden;
}

.image-conteiner .image-conteiner__text {
  position: absolute;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transition: var(--duration) var(--timing-function);
  transition: var(--duration) var(--timing-function);
}

.name-card {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
  padding: 20px 24px;
}

.name-card .name-card__project {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.name-card .name-card__list {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/*#endregion FILTR-portfolio.html*/
/*# sourceMappingURL=main.css.map */