/*#region HEADER SECTION*/
.header-section {
  border-bottom: 1px solid #ececec;
  @media screen and(min-width:320px) and (max-width: 768px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

/* логотип */

.logo {
  color: var(--selectoin-color);

  // margin-right: 94px;

  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  &__web {
    color: #000000;
  }
}

@media screen and(min-width:320px) {
  .header__conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
}
@media screen and(min-width:767px) {
  .logo {
    margin-right: 88px;
  }
}

/* навигация */

// 0px - 767px
@media screen and(max-width:767px) {
  .nav__list {
    display: none;
  }
  .auth__list {
    display: none;
  }
}

// 767px +...
@media screen and(min-width:767px) {
  .nav {
    margin-right: auto;
  }
  .nav__list {
    display: flex;
    align-items: center;
  }
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav__link {
    color: var(--main-color);

    display: block;
    font-family: var(--main-font);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    position: relative;

    transition: color var(--duration) var(--timing-function);

    &:hover,
    &:focus {
      color: var(--selectoin-color);
    }

    &.current::after {
      position: absolute;
      bottom: -35px;
      right: 0;
      content: '';
      width: 100%;
      height: 4px;
      background-color: #2196f3;
      border-radius: 2px;
    }
  }
  .studia,
  .portfolio {
    color: #2196f3;
  }

  /* почта,телефон */
  @media screen and(min-width:768px) and(max-width:1199px) {
    .auth__item:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .auth__tel,
  .auth__mail {
    color: #757575;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    display: flex;
    align-items: center;

    transition: color var(--duration) var(--timing-function);

    &:hover,
    &:focus,
    &:focus,
    &:hover {
      color: var(--selectoin-color);
    }
  }

  .auth__icon,
  .auth__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

@media screen and(min-width:1200px) {
  .logo {
    margin-right: 93px;
  }
  .auth__list {
    display: flex;
    align-items: center;

    .auth__item {
      margin-right: 50px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }
  .nav__link.current::after {
    position: absolute;
    bottom: -32px;
    right: 0;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}
/*#endregion HEADER*/
