/*#region SPECIFICS SECTION*/


/* раздел с особеностями */
.specifics-list__item::before {
  display: block;
  content: '';
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
}


.specifics-list--icon-antena::before {
  background-image: url(../images/icons/antenna.svg);
}

.specifics-list--icon-clock::before {
  background-image: url(../images/icons/clock.svg);
}

.specifics-list--icon-diagrama::before {
  background-image: url(../images/icons/diagram.svg);
}

.specifics-list--icon-astronaut::before {
  background-image: url(../images/icons/astronaut.svg);
}

.specifics-list__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.specifics-list__text {
  color: #757575;

  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and(max-width:1199.98px) {
    .section {
      padding-top: 60px;
      padding-bottom: 60px;
    }
}

@media screen and(max-width:767.98px) {
  .specifics-list__title {
    text-align: center;
  }
    .specifics-list {
      grid-template-columns: 1fr;
      display: grid;
      grid-gap: 30px;
    }
}

@media screen and(min-width:767.98px) and(max-width:1199.98px){
  .specifics-list {
      grid-template-columns: 1fr 1fr;
        display: grid;
        grid-gap: 30px;
    }
}

@media screen and(min-width:1200px) {
  .specifics-section {
  
      .specifics-list {
        display: flex;
      }
    }
  
    .specifics-list__item {
      margin-right: 30px;
      width: 270px;
  
      &:last-child {
        margin-right: 0;
      }
    }
}

/*#endregion SPECIFICS SECTION*/
