:root {
    --main-font: "Roboto", "Raleway", "Sans-serif";
    --main-color: #212121;
    --second-color: #757575;
    --selectoin-color: #2196f3;
    --button-color-hover-focus: #188ce8;
    --footer-heder-color: #2f303a;
    --duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  